---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import { getCollection } from "astro:content";
import ButtonLink from "@/components/ButtonLink.astro";
import { Image } from "astro:assets";
import astronautIllustration from "@/assets/astronaut-illustration.svg";
const posts = (await getCollection("blog")).sort(
  (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <style>
      main {
        width: 960px;
      }
      .heading {
        margin: 3em;
        gap: 2em;
        display: flex;
        justify-content: space-evenly;

        > * {
          flex: 1 1 0;
        }

        > div {
          display: flex;
          justify-content: center;
          flex-direction: column;

          > ul {
            width: 100%;
            margin: 0px;
            padding: 0px;
            display: flex;
            gap: 1em;
            flex-wrap: wrap;
            list-style: none;
          }
        }
      }
    </style>
  </head>
  <body>
    <Header />
    <div class="heading">
      <div>
        <h1>La Wiki</h1>
        <p>
          Este es el punto de partida de todos los apuntes. Seleccioná tu
          carrera para comenzar a estudiar.
        </p>
        <ul>
          <li><ButtonLink href="wiki/isi">ISI</ButtonLink></li>
          <li><ButtonLink href="wiki/iq">IQ</ButtonLink></li>
          <li><ButtonLink href="wiki/iem">IEM</ButtonLink></li>
          <li><ButtonLink href="wiki/lar">LAR</ButtonLink></li>
          <li><ButtonLink href="wiki/tup">TUP</ButtonLink></li>
        </ul>
      </div>
      <Image
        src={astronautIllustration}
        alt="Astronauta flotando en el espacio"
      />
    </div>
    <main>
      <section></section>
    </main>
    <Footer />
  </body>
</html>
